print("""\33[1;33;m$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$ B A N C O S A T R Y U S $$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
\33[m""")
print("""
\33[1;33mSEJA BEM VINDO(A) AO BANCO SATRYUS\33[m
""")
total_saques = 0
extrato = " "
LIMITE_SAQUE = 3
saldo = 00.00
saque = 500
print("""
\33[1;33;mSELECIONE A OPÇÃO DESEJADA
---------- PARA RETIRADA PRESSIONE (r) ---------
---------- PARA EXTRATO PRESSIONE (e) ----------
---------- PARA DEPÓSITO PRESSIONE (d) ---------
---------- PARA SAIR PRESSIONE (z)--------------
\33[m""")
while (True):
   menu = input("\n\33[7;30;45mEXCOLHA DO CLIENTE: \n\33[m")
   if menu == "d":
      valor = float(input("\33[1;33;45mValor a depositar R$: \n\33[m"))
      if valor > 0:
         saldo += valor
         extrato += f"Deposito em conta de: R$ {valor:.2f}\n"
      else:
         print("\33[1;33;45mTransação falhou, valor inválidol\n\33[m")
   elif menu == "r":
      valor = float(input("\33[1;32;41m\nDígite o valor da retirada R$: \n\33[m"))
      excedeu_saldo = valor > saldo
      excedeu_saque = valor > saque
      excedeu_limite = total_saques >= LIMITE_SAQUE
      if excedeu_saldo:
         print("\33[1;32;41mFalha na transação, valor excede saldo\n\33[m")
      elif excedeu_saque:
         print("\33[1;32;41mValor do saque excedido\n\33[m")
      elif excedeu_limite:
         print("\33[1;32;41mExcedeu limite de saque do dia.\n\33[m")
      elif valor > 0:
         saldo -= valor
         extrato += f"Saque R$ {valor}\n"
         total_saques += 1
      else:
         print("\33[1;32;41mFalha na operação, valor inválido.\n\33[m")
   elif menu == "e":
       print(20*"$"+" \33[1;35;mEXTRATO DA CONTA \33[m"+20*"$")
       print("\n\33[1;35;44mNenhum registro na conta.\n\33[m"if not extrato else extrato )
       print(f"\33[1;35;44mSaldo : R$ {saldo:.2f}\n\33[m")
   
   elif menu == "z":
     break
   else:
     print("\33[1;31;47mOpção Inválida, digite uma opção válida.\n\33[m")
